{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<div class="event-detail-container">
  <h1>{{ event.title }}</h1>

  <div class="event-description">
    <p><strong>Description:</strong> {{ event.description }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Date and Time:</strong> {{ event.date_time|date:"M d, Y H:i" }}</p>
    <p><strong>Capacity:</strong> {{ event.capacity }}</p>
  </div>

  <div class="event-owner">
    <h3>Event Owner</h3>
    <div class="owner-details">
      <img src="{{ event.owner.profile_pfp }}" alt="{{ event.owner.username }}'s Profile Picture" class="owner-pfp">
      <div class="owner-info">
        <p><strong>{{ event.owner.first_name }} {{ event.owner.last_name }}</strong></p>
        <p><small>{{ event.owner.user.username }}</small></p>
      </div>
    </div>
  </div>

  {% if current_event not in registered_events %}
  <!-- Register button -->
  <a href="{% url 'event_register' pk=current_event.pk %}" class="btn-primary">Register For Event</a>
{% endif %}


</div>
{% endblock %}
