<!-- Author: Darian Cheung -->
<!-- Email: darian26@bu.edu -->
<!-- template for creating status form -->
<!-- templates/create_status_form.html -->
<!-- mini_fb/templates/mini_fb/create_status_form.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}

<h2>Add a status message for {{profile.first_name}} {{profile.last_name}}</h2>

<form method="POST" enctype="multipart/form-data">
    <!-- display the form (context variable) -->
    <!-- {{form}} -->

    <!-- display as paragraphs -->
    <!-- {{form.as_p}} -->
    
    <table>
    {{form.as_table}}

    <!-- Add file upload input for images -->
    <tr>
      <td><label for="files">Upload Images:</label></td>
      <td><input type="file" name="files" id="files" multiple></td>
    </tr>

    <tr>
        <td></td>
        <td>
            <!-- we need to add the submit button ourselves -->
            <input type="submit" value="Create Status Message">
            {% csrf_token %}
        </form>
        <!-- NOTE: this is a separate form! -->
        <form action="{% url 'profile' profile.pk %}">
            <input type="submit" name="Cancel" value="Cancel">
        </form>
    </td>
    </tr>
    </table>


{% endblock %}
