<!-- blog/templates/blog/delete_comment_form.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}
<!-- templates/blog/delete_comment.html -->
<h3>Are you sure you want to delete this status message?</h3>
{{text}}
<p>
</p>
<form method='POST'>
    {% csrf_token %}
    <input type='submit' name="yes" value="yes">
</form>
<form method='GET' action="{% url 'delete_status_message' status_message.pk %}">
    {% csrf_token %}
    <input type='submit' name="no" value="no">
</form>
{% endblock %}