{% extends 'mini_fb/base.html' %}
{% block content %}
<h2>News Feed for {{ profile.first_name }} {{ profile.last_name }}</h2>
{% if news_feed %}
    <div>
        {% for status in news_feed %}
            <div>
                <div>
                    <img src="{{ status.profile.profile_image }}" alt="{{ status.profile.first_name }}'s profile image" style="width: 300px; height: 250px;">
                    <p><strong>{{ status.profile.first_name }} {{ status.profile.last_name }}</strong></p>
                </div>
                <p>{{ status.text }}</p>
                <div>
                    {% for img in status.get_images %}
                        <img src="{{ img.image_file.url }}" alt="Image for this status message" style="width: 150px; height: 100px;">
                    {% endfor %}
                </div>
                <small>Posted on: {{ status.timestamp }}</small>
            </div>
            <br>
        {% endfor %}
    </div>
{% else %}
    <p>No status messages available in the news feed.</p>
{% endif %}
<a href="{% url 'profile' pk=profile.pk %}">Back to Profile</a>
{% endblock %}