<!-- Author: Darian Cheung -->
<!-- Email: darian26@bu.edu -->
<!-- template for showing profile -->
<!-- templates/show_all_profiles.html -->
<!-- mini_fb/templats/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<main>
        
    <div class="main">
        <profile class="featured">
            <img src="{{profile.profile_image}}" alt="{{profile.profile_image}}">
            <div>
                <h4>Name: {{profile.first_name}} {{profile.last_name}}</h4>
                <h4>City: {{profile.city}}</h4>
                <h4>Email: {{profile.email_address}}</h4>
                {% if request.user.is_authenticated and request.user == profile.user %}
                <h4><a href="{% url 'create_status' %}">
                    Add a status message</a>
                </h4>
                <h4><a href="{% url 'update_profile' %}" class="btn btn-warning">Update Profile</a></h4>
                {% endif %}
            </div>
            
            
        </profile>
    
        <div>
            {% if profile.get_status_message %}
                <h2>Status Message</h2>
                <!-- call the Article's get_comments() method -->
                <!-- {{article.get_comments}}  -->
            
                {% for status in profile.get_status_message  %}
                <div>
                    <strong>by {{profile.first_name}} {{profile.last_name}} @ {{status.timestamp}} </strong>
                    <p>
                        {{status.text}}
                    </p>
                          <!-- Display images associated with the status message -->
                    {% if status.get_images %}
                    <div class="status-images">
                        {% for img in status.get_images %}
                        <img src="{{ img.image_file.url }}" alt="Image for {{ c.message }}" style="max-width: 200px;">
                        {% endfor %}
                    </div>
                    {% endif %}
    
                </div>
                <div>
                    {% if request.user.is_authenticated and request.user == profile.user %}
                    <a href="{% url 'update_status_message' status.pk %}">Edit</a>
                    <a href="{% url 'delete_status_message' status.pk %}">Delete</a>
                {% endif %}
                </div>
                {% endfor %}
    
            {% else %}
                <div>
                    <h2>No status message</h2>
                </div>
            {% endif %}
        </div>
        {% if request.user.is_authenticated and request.user == profile.user %}
        <h2>Show News Feed</h2>
        <a href="{% url 'news_feed'%}">View News Feed</a>
        {% endif %}
        <h2>Friends</h2>
        {% if profile.get_friends %}
            <div style="display: flex;">
                {% for friend in profile.get_friends %}
                    <div style="padding-right: 15px;">
                        <a href="{% url 'profile' pk=friend.pk %}">
                            <img src="{{ friend.profile_image }}" alt="{{ friend.first_name }}'s profile image" style="width: 100px; height: 100px; border-radius: 45%;">
                            <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No friends available for this profile.</p>
        {% endif %}
        {% if request.user.is_authenticated and request.user == profile.user %}
        <h2>Friend Suggestions</h2>
        <a href="{% url 'friend_suggestions' %}">View Friend Suggestions</a>
        {% endif %}
    
    </div>
    
    
    
</main>

{% endblock %}