<!-- Author: Darian Cheung -->
<!-- Email: darian26@bu.edu -->
<!-- template for showing all profiles -->
<!-- templates/show_all_profiles.html -->
<!-- mini_fb/templats/mini_fb/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>Showing all Profiles</h1>

<main class="grid-container"> <!-- was <div> -->
    {% for p in profiles %}
    <profile> <!-- was <div> -->
        <a href="{% url 'profile' p.pk %}">
            <img src="{{p.profile_image}}" alt="{{p.image_url}}">
        </a>
        
        <div> <!-- added this! -->
            <h2><a href="{% url 'profile' p.pk %}">{{p.first_name}} {{p.last_name}}</a></h2>
            <h3>{{p.city}}. Contact at {{p.email_address}}</h3>
        </div> <!-- added this! -->
 
    </profile> <!-- was <div> -->
    {% endfor %}
</main> <!-- was <div> -->

{% endblock %}